[submodule "External/assimp"]
    path = External/assimp
    url = https://github.com/Psybrus/assimp.git
[submodule "External/SoLoud"]
    path = External/SoLoud
    url = https://github.com/Psybrus/SoLoud
[submodule "External/glsl-optimizer"]
	path = External/glsl-optimizer
	url = https://github.com/Psybrus/glsl-optimizer
[submodule "External/bullet3"]
	path = External/bullet3
	url = https://github.com/Psybrus/bullet3
[submodule "External/RakNet"]
	path = External/RakNet
	url = https://github.com/Psybrus/RakNet
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/Psybrus/imgui
[submodule "External/jsoncpp"]
	path = External/jsoncpp
	url = https://github.com/Psybrus/jsoncpp
[submodule "External/rg-etc1"]
	path = External/rg-etc1
	url = https://github.com/Psybrus/rg-etc1
[submodule "External/glslang"]
	path = External/glslang
	url = https://github.com/Psybrus/glslang
[submodule "External/fcpp"]
	path = External/fcpp
	url = https://github.com/Psybrus/fcpp
[submodule "External/Remotery"]
	path = External/Remotery
	url = https://github.com/Psybrus/Remotery
[submodule "External/ImGuizmo"]
	path = External/ImGuizmo
	url = https://github.com/Psybrus/ImGuizmo
