[submodule "External/assimp"]
    path = External/assimp
    url = https://github.com/neilogd/assimp.git
[submodule "External/SoLoud"]
    path = External/SoLoud
    url = https://github.com/neilogd/SoLoud
[submodule "External/HLSLCrossCompiler"]
	path = External/HLSLCrossCompiler
	url = https://github.com/neilogd/HLSLCrossCompiler.git
[submodule "External/enet"]
	path = External/enet
	url = https://github.com/neilogd/enet.git
[submodule "External/hlsl2glslfork"]
	path = External/hlsl2glslfork
	url = https://github.com/neilogd/hlsl2glslfork
